In [72]:
import pandas as pd

In [73]:
import numpy as np

In [74]:
train_data = pd.read_csv("income.train.txt.5k", header=None)
dev_data = pd.read_csv("income.dev.txt", header=None)

In [75]:
column_names = ["age", "sector", "education", "marital-status", "occupation", "race", "sex", "hours-per-week", "country-of-origin", "target"]
train_data.columns = column_names
dev_data.columns = column_names

In [76]:
train_data

,age,sector,education,marital-status,occupation,race,sex,hours-per-week,country-of-origin,target
0,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,13,United-States,<=50K
1,38,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,40,United-States,<=50K
2,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,40,United-States,<=50K
3,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,40,Cuba,<=50K
4,37,Private,Masters,Married-civ-spouse,Exec-managerial,White,Female,40,United-States,<=50K
5,49,Private,9th,Married-spouse-absent,Other-service,Black,Female,16,Jamaica,<=50K
6,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,White,Male,45,United-States,>50K
7,31,Private,Masters,Never-married,Prof-specialty,White,Female,50,United-States,>50K
8,42,Private,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,40,United-States,>50K
9,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Black,Male,80,United-States,>50K
10,30,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Asian-Pac-Islander,Male,40,India,>50K
11,23,Private,Bachelors,Never-married,Adm-clerical,White,Female,30,United-States,<=50K
12,32,Private,Assoc-acdm,Never-married,Sales,Black,Male,50,United-States,<=50K
13,34,Private,7th-8th,Married-civ-spouse,Transport-moving,Amer-Indian-Eskimo,Male,45,Mexico,<=50K
14,25,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,White,Male,35,United-States,<=50K
15,32,Private,HS-grad,Never-married,Machine-op-inspct,White,Male,40,United-States,<=50K
16,38,Private,11th,Married-civ-spouse,Sales,White,Male,50,United-States,<=50K
17,43,Self-emp-not-inc,Masters,Divorced,Exec-managerial,White,Female,45,United-States,>50K
18,35,Federal-gov,9th,Married-civ-spouse,Farming-fishing,Black,Male,40,United-States,<=50K
19,43,Private,11th,Married-civ-spouse,Transport-moving,White,Male,40,United-States,<=50K
20,59,Private,HS-grad,Divorced,Tech-support,White,Female,40,United-States,<=50K
21,56,Local-gov,Bachelors,Married-civ-spouse,Tech-support,White,Male,40,United-States,>50K
22,19,Private,HS-grad,Never-married,Craft-repair,White,Male,40,United-States,<=50K
23,39,Private,HS-grad,Divorced,Exec-managerial,White,Male,80,United-States,<=50K
24,49,Private,HS-grad,Married-civ-spouse,Craft-repair,White,Male,40,United-States,<=50K
25,23,Local-gov,Assoc-acdm,Never-married,Protective-serv,White,Male,52,United-States,<=50K
26,20,Private,Some-college,Never-married,Sales,Black,Male,44,United-States,<=50K
27,45,Private,Bachelors,Divorced,Exec-managerial,White,Male,40,United-States,<=50K
28,30,Federal-gov,Some-college,Married-civ-spouse,Adm-clerical,White,Male,40,United-States,<=50K
29,22,State-gov,Some-college,Married-civ-spouse,Other-service,Black,Male,15,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...
4970,65,Private,HS-grad,Married-civ-spouse,Sales,White,Male,40,United-States,>50K
4971,39,Self-emp-not-inc,HS-grad,Married-civ-spouse,Sales,White,Male,50,United-States,>50K
4972,23,Private,Some-college,Never-married,Tech-support,White,Male,40,United-States,<=50K
4973,29,Self-emp-not-inc,Assoc-acdm,Married-civ-spouse,Sales,White,Male,50,United-States,<=50K
4974,57,Self-emp-not-inc,10th,Divorced,Exec-managerial,White,Male,60,United-States,>50K
4975,47,Private,Some-college,Widowed,Other-service,White,Female,35,United-States,<=50K
4976,51,Local-gov,HS-grad,Married-civ-spouse,Transport-moving,Black,Male,60,United-States,<=50K
4977,34,Private,HS-grad,Married-civ-spouse,Handlers-cleaners,Black,Male,40,United-States,<=50K
4978,52,Private,HS-grad,Married-civ-spouse,Exec-managerial,White,Male,60,United-States,>50K
4979,29,Private,HS-grad,Married-civ-spouse,Prof-specialty,White,Male,40,United-States,>50K
4980,29,Private,HS-grad,Married-civ-spouse,Craft-repair,White,Male,40,United-States,<=50K
4981,25,Local-gov,Some-college,Married-civ-spouse,Farming-fishing,White,Male,40,United-States,<=50K
4982,21,Private,Some-college,Never-married,Other-service,White,Female,40,United-States,<=50K
4983,38,Private,Bachelors,Married-spouse-absent,Prof-specialty,White,Female,40,United-States,<=50K
4984,55,Self-emp-not-inc,HS-grad,Married-civ-spouse,Sales,White,Male,50,United-States,>50K
4985,61,Self-emp-inc,Bachelors,Separated,Sales,White,Female,30,United-States,<=50K
4986,27,Local-gov,Assoc-voc,Never-married,Adm-clerical,White,Male,43,United-States,<=50K
4987,78,Self-emp-not-inc,Bachelors,Never-married,Exec-managerial,White,Male,20,United-States,>50K
4988,40,Private,HS-grad,Married-civ-spouse,Transport-moving,White,Male,40,United-States,>50K
4989,26,Self-emp-not-inc,7th-8th,Married-civ-spouse,Transport-moving,White,Male,75,United-States,<=50K
4990,43,Private,HS-grad,Married-civ-spouse,Other-service,Asian-Pac-Islander,Male,60,Japan,<=50K
4991,25,Private,Assoc-voc,Married-civ-spouse,Tech-support,White,Male,40,Mexico,<=50K
4992,26,Self-emp-not-inc,Some-college,Never-married,Other-service,White,Female,48,United-States,<=50K
4993,43,Self-emp-inc,HS-grad,Married-civ-spouse,Sales,White,Male,68,United-States,>50K
4994,25,Private,Some-college,Never-married,Other-service,White,Male,40,Poland,<=50K
4995,22,Private,Some-college,Never-married,Adm-clerical,Black,Female,30,Jamaica,<=50K
4996,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Craft-repair,White,Male,55,United-States,>50K
4997,61,Private,HS-grad,Married-civ-spouse,Adm-clerical,White,Female,5,United-States,<=50K
4998,42,Private,Bachelors,Never-married,Sales,White,Male,40,United-States,<=50K
4999,21,Private,Assoc-voc,Never-married,Adm-clerical,White,Female,40,United-States,<=50K

In [77]:
dev_data

,age,sector,education,marital-status,occupation,race,sex,hours-per-week,country-of-origin,target
0,45,Federal-gov,Bachelors,Married-civ-spouse,Adm-clerical,White,Male,45,United-States,<=50K
1,33,Private,5th-6th,Married-spouse-absent,Transport-moving,Other,Male,20,El-Salvador,<=50K
2,19,Private,Some-college,Never-married,Transport-moving,White,Male,40,United-States,<=50K
3,47,Private,11th,Divorced,Other-service,White,Female,15,United-States,<=50K
4,30,Local-gov,HS-grad,Married-civ-spouse,Protective-serv,White,Male,40,United-States,>50K
5,37,Private,Bachelors,Separated,Other-service,White,Male,70,England,<=50K
6,35,Private,HS-grad,Married-civ-spouse,Adm-clerical,White,Male,40,United-States,<=50K
7,33,Private,HS-grad,Married-civ-spouse,Other-service,White,Female,25,United-States,<=50K
8,40,Private,Some-college,Married-civ-spouse,Sales,White,Male,60,United-States,>50K
9,54,Federal-gov,Some-college,Divorced,Adm-clerical,White,Female,40,United-States,<=50K
10,32,Private,Bachelors,Never-married,Prof-specialty,White,Male,50,United-States,<=50K
11,38,Private,Some-college,Married-civ-spouse,Handlers-cleaners,White,Female,35,United-States,<=50K
12,70,Private,Some-college,Divorced,Farming-fishing,Asian-Pac-Islander,Male,40,Vietnam,<=50K
13,44,Private,Bachelors,Never-married,Adm-clerical,White,Female,37,United-States,<=50K
14,66,Private,Bachelors,Married-civ-spouse,Craft-repair,Asian-Pac-Islander,Male,30,Philippines,<=50K
15,40,Private,HS-grad,Married-civ-spouse,Farming-fishing,Black,Male,40,United-States,<=50K
16,40,Private,HS-grad,Married-civ-spouse,Craft-repair,Black,Male,40,United-States,<=50K
17,56,State-gov,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,40,United-States,<=50K
18,22,Private,HS-grad,Divorced,Sales,White,Female,33,United-States,<=50K
19,17,Private,12th,Never-married,Handlers-cleaners,White,Male,20,United-States,<=50K
20,39,Private,HS-grad,Divorced,Other-service,White,Male,40,United-States,<=50K
21,56,Local-gov,Some-college,Married-civ-spouse,Craft-repair,White,Male,41,United-States,>50K
22,30,Private,HS-grad,Married-civ-spouse,Handlers-cleaners,White,Male,66,United-States,<=50K
23,90,Private,HS-grad,Never-married,Other-service,White,Female,24,United-States,<=50K
24,42,Self-emp-not-inc,10th,Widowed,Transport-moving,White,Male,35,United-States,<=50K
25,23,Private,11th,Divorced,Other-service,White,Female,35,United-States,<=50K
26,31,Private,Some-college,Never-married,Machine-op-inspct,White,Female,50,United-States,<=50K
27,36,Private,11th,Separated,Machine-op-inspct,Black,Male,40,United-States,<=50K
28,49,Local-gov,Masters,Married-civ-spouse,Adm-clerical,White,Male,40,United-States,<=50K
29,23,Private,Some-college,Never-married,Sales,White,Female,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...
970,34,Private,Bachelors,Divorced,Sales,White,Female,40,United-States,<=50K
971,57,Private,HS-grad,Married-civ-spouse,Exec-managerial,White,Male,50,United-States,<=50K
972,43,Self-emp-inc,Prof-school,Married-civ-spouse,Exec-managerial,White,Male,40,United-States,>50K
973,45,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,52,United-States,>50K
974,46,Private,Bachelors,Never-married,Other-service,White,Male,40,United-States,<=50K
975,18,Private,11th,Never-married,Craft-repair,White,Male,5,United-States,<=50K
976,44,Private,Bachelors,Married-civ-spouse,Adm-clerical,White,Male,45,United-States,<=50K
977,49,Private,Some-college,Married-civ-spouse,Adm-clerical,White,Male,40,United-States,<=50K
978,55,Private,Some-college,Divorced,Adm-clerical,White,Female,40,United-States,<=50K
979,50,Private,11th,Divorced,Sales,White,Female,40,United-States,<=50K
980,50,Self-emp-not-inc,Assoc-acdm,Never-married,Sales,White,Female,5,United-States,<=50K
981,35,Private,Masters,Never-married,Sales,White,Female,40,United-States,<=50K
982,29,Private,Bachelors,Never-married,Exec-managerial,White,Female,55,United-States,<=50K
983,18,Private,12th,Never-married,Sales,White,Female,20,United-States,<=50K
984,44,Local-gov,Some-college,Divorced,Other-service,White,Female,40,United-States,<=50K
985,42,Self-emp-not-inc,Bachelors,Never-married,Farming-fishing,White,Male,35,United-States,<=50K
986,34,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,45,United-States,<=50K
987,42,Private,Some-college,Divorced,Machine-op-inspct,White,Female,40,United-States,<=50K
988,54,State-gov,HS-grad,Married-civ-spouse,Prof-specialty,White,Male,40,United-States,<=50K
989,26,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Black,Male,40,United-States,<=50K
990,41,Self-emp-not-inc,Some-college,Married-civ-spouse,Sales,White,Male,40,United-States,<=50K
991,28,Federal-gov,Bachelors,Never-married,Prof-specialty,White,Male,50,United-States,<=50K
992,48,Private,1st-4th,Married-civ-spouse,Machine-op-inspct,White,Male,40,Portugal,<=50K
993,35,Private,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,45,United-States,<=50K
994,61,Private,HS-grad,Widowed,Craft-repair,Black,Female,50,United-States,<=50K
995,37,Private,Prof-school,Married-civ-spouse,Prof-specialty,White,Male,45,United-States,>50K
996,32,Private,Some-college,Never-married,Exec-managerial,White,Male,40,United-States,<=50K
997,20,Private,HS-grad,Never-married,Machine-op-inspct,White,Male,40,United-States,<=50K
998,22,Private,12th,Never-married,Protective-serv,Black,Male,35,United-States,<=50K
999,58,Private,HS-grad,Widowed,Adm-clerical,White,Female,40,United-States,<=50K

In [78]:
filtered_data = train_data[(train_data['age'] == 33) | (train_data['sector'] == 'Private')]   
# OR(|) is work but why AND(&) not?????? it just shows column names

In [79]:
filtered_data

,age,sector,education,marital-status,occupation,race,sex,hours-per-week,country-of-origin,target
126,33,Private,Bachelors,Never-married,Exec-managerial,Asian-Pac-Islander,Female,40,Philippines,<=50K
149,33,Private,Bachelors,Married-civ-spouse,Prof-specialty,White,Male,65,United-States,<=50K
195,33,Private,Some-college,Divorced,Craft-repair,Other,Female,40,United-States,<=50K
222,33,Private,Bachelors,Never-married,Prof-specialty,White,Female,45,United-States,<=50K
223,33,Private,HS-grad,Married-civ-spouse,Craft-repair,White,Female,40,United-States,>50K
291,33,Private,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,40,United-States,>50K
293,33,Private,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,40,United-States,>50K
314,33,Private,HS-grad,Married-civ-spouse,Craft-repair,White,Female,40,United-States,<=50K
343,33,Private,Some-college,Divorced,Exec-managerial,White,Female,40,United-States,<=50K
355,33,Private,10th,Never-married,Craft-repair,White,Female,35,United-States,<=50K
362,33,Private,Masters,Married-civ-spouse,Prof-specialty,White,Male,50,United-States,>50K
399,33,Private,Assoc-acdm,Married-civ-spouse,Craft-repair,White,Male,45,Portugal,<=50K
411,33,Private,Bachelors,Never-married,Craft-repair,White,Male,20,United-States,<=50K
459,33,Federal-gov,Assoc-voc,Divorced,Craft-repair,Black,Female,40,United-States,>50K
521,33,Private,Some-college,Married-civ-spouse,Exec-managerial,White,Male,40,United-States,>50K
528,33,Private,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,60,United-States,>50K
596,33,Private,HS-grad,Never-married,Other-service,White,Male,40,United-States,<=50K
628,33,Local-gov,Bachelors,Never-married,Prof-specialty,White,Female,45,United-States,<=50K
666,33,Private,Bachelors,Married-civ-spouse,Prof-specialty,White,Male,47,United-States,>50K
716,33,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,40,United-States,<=50K
734,33,Private,Some-college,Married-civ-spouse,Craft-repair,White,Female,60,United-States,<=50K
770,33,Private,1st-4th,Married-spouse-absent,Priv-house-serv,White,Female,40,Guatemala,<=50K
776,33,Private,HS-grad,Married-civ-spouse,Craft-repair,White,Male,30,United-States,<=50K
792,33,Local-gov,10th,Divorced,Transport-moving,White,Male,40,United-States,<=50K
793,33,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,40,United-States,>50K
845,33,Private,Assoc-voc,Married-civ-spouse,Tech-support,White,Female,40,United-States,>50K
921,33,Private,Bachelors,Married-civ-spouse,Sales,White,Female,45,United-States,>50K
950,33,Private,Masters,Married-civ-spouse,Prof-specialty,White,Male,44,United-States,>50K
963,33,Private,Bachelors,Married-civ-spouse,Sales,White,Male,60,United-States,>50K
966,33,Private,HS-grad,Divorced,Adm-clerical,Black,Female,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...
4133,33,State-gov,Masters,Never-married,Prof-specialty,Asian-Pac-Islander,Male,30,Japan,<=50K
4139,33,Federal-gov,Some-college,Never-married,Exec-managerial,White,Male,50,United-States,<=50K
4145,33,Federal-gov,Some-college,Married-civ-spouse,Exec-managerial,Black,Female,40,United-States,>50K
4178,33,Self-emp-not-inc,1st-4th,Married-spouse-absent,Craft-repair,White,Male,40,Mexico,<=50K
4182,33,Private,Doctorate,Never-married,Prof-specialty,White,Female,60,United-States,>50K
4196,33,Private,HS-grad,Married-civ-spouse,Craft-repair,White,Male,40,United-States,<=50K
4204,33,Private,HS-grad,Divorced,Machine-op-inspct,White,Female,40,United-States,<=50K
4213,33,Private,Assoc-acdm,Married-spouse-absent,Craft-repair,White,Male,20,United-States,<=50K
4365,33,Private,Bachelors,Married-civ-spouse,Exec-managerial,White,Female,32,United-States,>50K
4419,33,Private,HS-grad,Married-civ-spouse,Prof-specialty,Amer-Indian-Eskimo,Male,48,United-States,>50K
4473,33,State-gov,Some-college,Divorced,Other-service,Black,Female,40,United-States,<=50K
4487,33,Private,HS-grad,Divorced,Adm-clerical,White,Male,40,United-States,<=50K
4490,33,Private,HS-grad,Married-civ-spouse,Exec-managerial,Black,Male,50,United-States,<=50K
4501,33,Private,Masters,Married-civ-spouse,Prof-specialty,White,Male,40,United-States,>50K
4533,33,Private,Bachelors,Married-civ-spouse,Prof-specialty,White,Male,75,United-States,>50K
4551,33,Local-gov,Bachelors,Never-married,Prof-specialty,White,Female,50,United-States,>50K
4574,33,Local-gov,Assoc-acdm,Divorced,Protective-serv,White,Male,56,United-States,<=50K
4598,33,Private,Bachelors,Married-civ-spouse,Transport-moving,White,Male,40,United-States,<=50K
4607,33,Private,Some-college,Married-civ-spouse,Exec-managerial,White,Male,70,United-States,>50K
4669,33,Private,Some-college,Married-civ-spouse,Craft-repair,White,Male,41,United-States,>50K
4675,33,Private,HS-grad,Separated,Handlers-cleaners,White,Male,35,Puerto-Rico,<=50K
4750,33,Private,9th,Married-civ-spouse,Machine-op-inspct,White,Male,50,United-States,<=50K
4771,33,Private,Some-college,Never-married,Prof-specialty,Black,Male,40,United-States,<=50K
4776,33,Private,Bachelors,Married-civ-spouse,Other-service,White,Female,40,United-States,<=50K
4826,33,Private,HS-grad,Never-married,Other-service,Amer-Indian-Eskimo,Female,36,United-States,<=50K
4844,33,Private,11th,Separated,Sales,White,Female,20,United-States,<=50K
4872,33,Federal-gov,Bachelors,Married-civ-spouse,Adm-clerical,White,Male,42,United-States,>50K
4889,33,Self-emp-inc,Masters,Married-civ-spouse,Craft-repair,White,Male,40,United-States,<=50K
4892,33,Private,HS-grad,Married-civ-spouse,Transport-moving,White,Male,60,United-States,<=50K
4963,33,Private,5th-6th,Married-civ-spouse,Farming-fishing,Asian-Pac-Islander,Male,40,Philippines,<=50K

In [80]:
encoded_data = pd.get_dummies(train_data, columns=['age','sector'])
print(encoded_data)
# the result is diff

          education          marital-status          occupation  \
0         Bachelors      Married-civ-spouse     Exec-managerial
1           HS-grad                Divorced   Handlers-cleaners
2              11th      Married-civ-spouse   Handlers-cleaners
3         Bachelors      Married-civ-spouse      Prof-specialty
4           Masters      Married-civ-spouse     Exec-managerial
5               9th   Married-spouse-absent       Other-service
6           HS-grad      Married-civ-spouse     Exec-managerial
7           Masters           Never-married      Prof-specialty
8         Bachelors      Married-civ-spouse     Exec-managerial
9      Some-college      Married-civ-spouse     Exec-managerial
10        Bachelors      Married-civ-spouse      Prof-specialty
11        Bachelors           Never-married        Adm-clerical
12       Assoc-acdm           Never-married               Sales
13          7th-8th      Married-civ-spouse    Transport-moving
14          HS-grad           Never-married     Farming-fishing
15          HS-grad           Never-married   Machine-op-inspct
16             11th      Married-civ-spouse               Sales
17          Masters                Divorced     Exec-managerial
18              9th      Married-civ-spouse     Farming-fishing
19             11th      Married-civ-spouse    Transport-moving
20          HS-grad                Divorced        Tech-support
21        Bachelors      Married-civ-spouse        Tech-support
22          HS-grad           Never-married        Craft-repair
23          HS-grad                Divorced     Exec-managerial
24          HS-grad      Married-civ-spouse        Craft-repair
25       Assoc-acdm           Never-married     Protective-serv
26     Some-college           Never-married               Sales
27        Bachelors                Divorced     Exec-managerial
28     Some-college      Married-civ-spouse        Adm-clerical
29     Some-college      Married-civ-spouse       Other-service
...             ...                     ...                 ...
4970        HS-grad      Married-civ-spouse               Sales
4971        HS-grad      Married-civ-spouse               Sales
4972   Some-college           Never-married        Tech-support
4973     Assoc-acdm      Married-civ-spouse               Sales
4974           10th                Divorced     Exec-managerial
4975   Some-college                 Widowed       Other-service
4976        HS-grad      Married-civ-spouse    Transport-moving
4977        HS-grad      Married-civ-spouse   Handlers-cleaners
4978        HS-grad      Married-civ-spouse     Exec-managerial
4979        HS-grad      Married-civ-spouse      Prof-specialty
4980        HS-grad      Married-civ-spouse        Craft-repair
4981   Some-college      Married-civ-spouse     Farming-fishing
4982   Some-college           Never-married       Other-service
4983      Bachelors   Married-spouse-absent      Prof-specialty
4984        HS-grad      Married-civ-spouse               Sales
4985      Bachelors               Separated               Sales
4986      Assoc-voc           Never-married        Adm-clerical
4987      Bachelors           Never-married     Exec-managerial
4988        HS-grad      Married-civ-spouse    Transport-moving
4989        7th-8th      Married-civ-spouse    Transport-moving
4990        HS-grad      Married-civ-spouse       Other-service
4991      Assoc-voc      Married-civ-spouse        Tech-support
4992   Some-college           Never-married       Other-service
4993        HS-grad      Married-civ-spouse               Sales
4994   Some-college           Never-married       Other-service
4995   Some-college           Never-married        Adm-clerical
4996        HS-grad      Married-civ-spouse        Craft-repair
4997        HS-grad      Married-civ-spouse        Adm-clerical
4998      Bachelors           Never-married               Sales
4999      Assoc-voc           Never-married        Adm-clerical

                     race      sex  hours-per-week country-of-origin  target  \
0                   White     Male              13     United-States   <=50K
1                   White     Male              40     United-States   <=50K
2                   Black     Male              40     United-States   <=50K
3                   Black   Female              40              Cuba   <=50K
4                   White   Female              40     United-States   <=50K
5                   Black   Female              16           Jamaica   <=50K
6                   White     Male              45     United-States    >50K
7                   White   Female              50     United-States    >50K
8                   White     Male              40     United-States    >50K
9                   Black     Male              80     United-States    >50K
10     Asian-Pac-Islander     Male              40             India    >50K
11                  White   Female              30     United-States   <=50K
12                  Black     Male              50     United-States   <=50K
13     Amer-Indian-Eskimo     Male              45            Mexico   <=50K
14                  White     Male              35     United-States   <=50K
15                  White     Male              40     United-States   <=50K
16                  White     Male              50     United-States   <=50K
17                  White   Female              45     United-States    >50K
18                  Black     Male              40     United-States   <=50K
19                  White     Male              40     United-States   <=50K
20                  White   Female              40     United-States   <=50K
21                  White     Male              40     United-States    >50K
22                  White     Male              40     United-States   <=50K
23                  White     Male              80     United-States   <=50K
24                  White     Male              40     United-States   <=50K
25                  White     Male              52     United-States   <=50K
26                  Black     Male              44     United-States   <=50K
27                  White     Male              40     United-States   <=50K
28                  White     Male              40     United-States   <=50K
29                  Black     Male              15     United-States   <=50K
...                   ...      ...             ...               ...     ...
4970                White     Male              40     United-States    >50K
4971                White     Male              50     United-States    >50K
4972                White     Male              40     United-States   <=50K
4973                White     Male              50     United-States   <=50K
4974                White     Male              60     United-States    >50K
4975                White   Female              35     United-States   <=50K
4976                Black     Male              60     United-States   <=50K
4977                Black     Male              40     United-States   <=50K
4978                White     Male              60     United-States    >50K
4979                White     Male              40     United-States    >50K
4980                White     Male              40     United-States   <=50K
4981                White     Male              40     United-States   <=50K
4982                White   Female              40     United-States   <=50K
4983                White   Female              40     United-States   <=50K
4984                White     Male              50     United-States    >50K
4985                White   Female              30     United-States   <=50K
4986                White     Male              43     United-States   <=50K
4987                White     Male              20     United-States    >50K
4988                White     Male              40     United-States    >50K
4989                White     Male              75     United-States   <=50K
4990   Asian-Pac-Islander     Male              60             Japan   <=50K
4991                White     Male              40            Mexico   <=50K
4992                White   Female              48     United-States   <=50K
4993                White     Male              68     United-States    >50K
4994                White     Male              40            Poland   <=50K
4995                Black   Female              30           Jamaica   <=50K
4996                White     Male              55     United-States    >50K
4997                White   Female               5     United-States   <=50K
4998                White     Male              40     United-States   <=50K
4999                White   Female              40     United-States   <=50K

      age_17  age_18  ...  age_81  age_88  age_90  sector_ Federal-gov  \
0          0       0  ...       0       0       0                    0
1          0       0  ...       0       0       0                    0
2          0       0  ...       0       0       0                    0
3          0       0  ...       0       0       0                    0
4          0       0  ...       0       0       0                    0
5          0       0  ...       0       0       0                    0
6          0       0  ...       0       0       0                    0
7          0       0  ...       0       0       0                    0
8          0       0  ...       0       0       0                    0
9          0       0  ...       0       0       0                    0
10         0       0  ...       0       0       0                    0
11         0       0  ...       0       0       0                    0
12         0       0  ...       0       0       0                    0
13         0       0  ...       0       0       0                    0
14         0       0  ...       0       0       0                    0
15         0       0  ...       0       0       0                    0
16         0       0  ...       0       0       0                    0
17         0       0  ...       0       0       0                    0
18         0       0  ...       0       0       0                    1
19         0       0  ...       0       0       0                    0
20         0       0  ...       0       0       0                    0
21         0       0  ...       0       0       0                    0
22         0       0  ...       0       0       0                    0
23         0       0  ...       0       0       0                    0
24         0       0  ...       0       0       0                    0
25         0       0  ...       0       0       0                    0
26         0       0  ...       0       0       0                    0
27         0       0  ...       0       0       0                    0
28         0       0  ...       0       0       0                    1
29         0       0  ...       0       0       0                    0
...      ...     ...  ...     ...     ...     ...                  ...
4970       0       0  ...       0       0       0                    0
4971       0       0  ...       0       0       0                    0
4972       0       0  ...       0       0       0                    0
4973       0       0  ...       0       0       0                    0
4974       0       0  ...       0       0       0                    0
4975       0       0  ...       0       0       0                    0
4976       0       0  ...       0       0       0                    0
4977       0       0  ...       0       0       0                    0
4978       0       0  ...       0       0       0                    0
4979       0       0  ...       0       0       0                    0
4980       0       0  ...       0       0       0                    0
4981       0       0  ...       0       0       0                    0
4982       0       0  ...       0       0       0                    0
4983       0       0  ...       0       0       0                    0
4984       0       0  ...       0       0       0                    0
4985       0       0  ...       0       0       0                    0
4986       0       0  ...       0       0       0                    0
4987       0       0  ...       0       0       0                    0
4988       0       0  ...       0       0       0                    0
4989       0       0  ...       0       0       0                    0
4990       0       0  ...       0       0       0                    0
4991       0       0  ...       0       0       0                    0
4992       0       0  ...       0       0       0                    0
4993       0       0  ...       0       0       0                    0
4994       0       0  ...       0       0       0                    0
4995       0       0  ...       0       0       0                    0
4996       0       0  ...       0       0       0                    0
4997       0       0  ...       0       0       0                    0
4998       0       0  ...       0       0       0                    0
4999       0       0  ...       0       0       0                    0

      sector_ Local-gov  sector_ Private  sector_ Self-emp-inc  \
0                     0                0                     0
1                     0                1                     0
2                     0                1                     0
3                     0                1                     0
4                     0                1                     0
5                     0                1                     0
6                     0                0                     0
7                     0                1                     0
8                     0                1                     0
9                     0                1                     0
10                    0                0                     0
11                    0                1                     0
12                    0                1                     0
13                    0                1                     0
14                    0                0                     0
15                    0                1                     0
16                    0                1                     0
17                    0                0                     0
18                    0                0                     0
19                    0                1                     0
20                    0                1                     0
21                    1                0                     0
22                    0                1                     0
23                    0                1                     0
24                    0                1                     0
25                    1                0                     0
26                    0                1                     0
27                    0                1                     0
28                    0                0                     0
29                    0                0                     0
...                 ...              ...                   ...
4970                  0                1                     0
4971                  0                0                     0
4972                  0                1                     0
4973                  0                0                     0
4974                  0                0                     0
4975                  0                1                     0
4976                  1                0                     0
4977                  0                1                     0
4978                  0                1                     0
4979                  0                1                     0
4980                  0                1                     0
4981                  1                0                     0
4982                  0                1                     0
4983                  0                1                     0
4984                  0                0                     0
4985                  0                0                     1
4986                  1                0                     0
4987                  0                0                     0
4988                  0                1                     0
4989                  0                0                     0
4990                  0                1                     0
4991                  0                1                     0
4992                  0                0                     0
4993                  0                0                     1
4994                  0                1                     0
4995                  0                1                     0
4996                  0                0                     0
4997                  0                1                     0
4998                  0                1                     0
4999                  0                1                     0

      sector_ Self-emp-not-inc  sector_ State-gov  sector_ Without-pay
0                            1                  0                    0
1                            0                  0                    0
2                            0                  0                    0
3                            0                  0                    0
4                            0                  0                    0
5                            0                  0                    0
6                            1                  0                    0
7                            0                  0                    0
8                            0                  0                    0
9                            0                  0                    0
10                           0                  1                    0
11                           0                  0                    0
12                           0                  0                    0
13                           0                  0                    0
14                           1                  0                    0
15                           0                  0                    0
16                           0                  0                    0
17                           1                  0                    0
18                           0                  0                    0
19                           0                  0                    0
20                           0                  0                    0
21                           0                  0                    0
22                           0                  0                    0
23                           0                  0                    0
24                           0                  0                    0
25                           0                  0                    0
26                           0                  0                    0
27                           0                  0                    0
28                           0                  0                    0
29                           0                  1                    0
...                        ...                ...                  ...
4970                         0                  0                    0
4971                         1                  0                    0
4972                         0                  0                    0
4973                         1                  0                    0
4974                         1                  0                    0
4975                         0                  0                    0
4976                         0                  0                    0
4977                         0                  0                    0
4978                         0                  0                    0

In [81]:
#Q2-3. Binarization in Scikit-Learn

In [82]:
from sklearn.preprocessing import OneHotEncoder

In [83]:
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [84]:
encoder.fit(train_data)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<type 'numpy.float64'>, handle_unknown='ignore',
       n_values=None, sparse=False)

In [85]:
binary_data = encoder.transform(train_data)

In [86]:
binary_data

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [87]:
encoder.get_feature_names()

array([u'x0_17', u'x0_18', u'x0_19', u'x0_20', u'x0_21', u'x0_22',
       u'x0_23', u'x0_24', u'x0_25', u'x0_26', u'x0_27', u'x0_28',
       u'x0_29', u'x0_30', u'x0_31', u'x0_32', u'x0_33', u'x0_34',
       u'x0_35', u'x0_36', u'x0_37', u'x0_38', u'x0_39', u'x0_40',
       u'x0_41', u'x0_42', u'x0_43', u'x0_44', u'x0_45', u'x0_46',
       u'x0_47', u'x0_48', u'x0_49', u'x0_50', u'x0_51', u'x0_52',
       u'x0_53', u'x0_54', u'x0_55', u'x0_56', u'x0_57', u'x0_58',
       u'x0_59', u'x0_60', u'x0_61', u'x0_62', u'x0_63', u'x0_64',
       u'x0_65', u'x0_66', u'x0_67', u'x0_68', u'x0_69', u'x0_70',
       u'x0_71', u'x0_72', u'x0_73', u'x0_74', u'x0_75', u'x0_76',
       u'x0_77', u'x0_78', u'x0_79', u'x0_80', u'x0_81', u'x0_88',
       u'x0_90', u'x1_ Federal-gov', u'x1_ Local-gov', u'x1_ Private',
       u'x1_ Self-emp-inc', u'x1_ Self-emp-not-inc', u'x1_ State-gov',
       u'x1_ Without-pay', u'x2_ 10th', u'x2_ 11th', u'x2_ 12th',
       u'x2_ 1st-4th', u'x2_ 5th-6th', u'x2_ 7th-8th', u'x2_ 9th',
       u'x2_ Assoc-acdm', u'x2_ Assoc-voc', u'x2_ Bachelors',
       u'x2_ Doctorate', u'x2_ HS-grad', u'x2_ Masters', u'x2_ Preschool',
       u'x2_ Prof-school', u'x2_ Some-college', u'x3_ Divorced',
       u'x3_ Married-AF-spouse', u'x3_ Married-civ-spouse',
       u'x3_ Married-spouse-absent', u'x3_ Never-married',
       u'x3_ Separated', u'x3_ Widowed', u'x4_ Adm-clerical',
       u'x4_ Armed-Forces', u'x4_ Craft-repair', u'x4_ Exec-managerial',
       u'x4_ Farming-fishing', u'x4_ Handlers-cleaners',
       u'x4_ Machine-op-inspct', u'x4_ Other-service',
       u'x4_ Priv-house-serv', u'x4_ Prof-specialty',
       u'x4_ Protective-serv', u'x4_ Sales', u'x4_ Tech-support',
       u'x4_ Transport-moving', u'x5_ Amer-Indian-Eskimo',
       u'x5_ Asian-Pac-Islander', u'x5_ Black', u'x5_ Other',
       u'x5_ White', u'x6_ Female', u'x6_ Male', u'x7_1', u'x7_2',
       u'x7_3', u'x7_5', u'x7_6', u'x7_7', u'x7_8', u'x7_9', u'x7_10',
       u'x7_11', u'x7_12', u'x7_13', u'x7_14', u'x7_15', u'x7_16',
       u'x7_17', u'x7_18', u'x7_19', u'x7_20', u'x7_21', u'x7_22',
       u'x7_24', u'x7_25', u'x7_26', u'x7_27', u'x7_28', u'x7_30',
       u'x7_32', u'x7_33', u'x7_34', u'x7_35', u'x7_36', u'x7_37',
       u'x7_38', u'x7_39', u'x7_40', u'x7_41', u'x7_42', u'x7_43',
       u'x7_44', u'x7_45', u'x7_46', u'x7_47', u'x7_48', u'x7_49',
       u'x7_50', u'x7_51', u'x7_52', u'x7_53', u'x7_54', u'x7_55',
       u'x7_56', u'x7_57', u'x7_58', u'x7_59', u'x7_60', u'x7_62',
       u'x7_63', u'x7_64', u'x7_65', u'x7_66', u'x7_68', u'x7_70',
       u'x7_72', u'x7_75', u'x7_77', u'x7_78', u'x7_80', u'x7_84',
       u'x7_85', u'x7_90', u'x7_98', u'x7_99', u'x8_ Cambodia',
       u'x8_ Canada', u'x8_ China', u'x8_ Columbia', u'x8_ Cuba',
       u'x8_ Dominican-Republic', u'x8_ Ecuador', u'x8_ El-Salvador',
       u'x8_ England', u'x8_ France', u'x8_ Germany', u'x8_ Greece',
       u'x8_ Guatemala', u'x8_ Haiti', u'x8_ Honduras', u'x8_ Hong',
       u'x8_ India', u'x8_ Iran', u'x8_ Ireland', u'x8_ Italy',
       u'x8_ Jamaica', u'x8_ Japan', u'x8_ Laos', u'x8_ Mexico',
       u'x8_ Nicaragua', u'x8_ Outlying-US(Guam-USVI-etc)', u'x8_ Peru',
       u'x8_ Philippines', u'x8_ Poland', u'x8_ Portugal',
       u'x8_ Puerto-Rico', u'x8_ Scotland', u'x8_ South', u'x8_ Taiwan',
       u'x8_ Thailand', u'x8_ Trinadad&Tobago', u'x8_ United-States',
       u'x8_ Vietnam', u'x8_ Yugoslavia', u'x9_ <=50K', u'x9_ >50K'],
      dtype=object)

In [88]:
binary_data.shape

(5000L, 232L)

In [89]:
#Q2-4. Fit k-NN via Scikit-Learn

In [90]:
from sklearn.neighbors import KNeighborsClassifier

In [91]:
from sklearn.metrics import accuracy_score

In [92]:
# Encode categorical variables using OneHotEncoder
X_train = encoder.fit_transform(train_data.drop("target", axis=1))
y_train = train_data["target"]

X_dev = encoder.transform(dev_data.drop("target", axis=1))
y_dev = dev_data["target"]

In [93]:
# Initialize variables to store the results
best_dev_error = 100.0
best_k = -1

In [94]:
# Loop through odd values of k from 1 to 100
for k in range(1, 101, 2):
    kNN = KNeighborsClassifier(n_neighbors=k)
    kNN.fit(X_train, y_train)
    
    # Predict on training and dev sets
    train_preds = kNN.predict(X_train)
    dev_preds = kNN.predict(X_dev)
    
    # Calculate error rates and positive rates
    train_err = 100 * (1 - accuracy_score(y_train, train_preds))
    dev_err = 100 * (1 - accuracy_score(y_dev, dev_preds))
    train_pos_rate = 100 * (sum(train_preds == ">50K") / len(train_preds))
    dev_pos_rate = 100 * (sum(dev_preds == ">50K") / len(dev_preds))
    
    # Update best error rate and k if necessary
    if dev_err < best_dev_error:
        best_dev_error = dev_err
        best_k = k
    
    # Print results
    print(k, train_err, train_pos_rate, dev_err, dev_pos_rate)

print("best error rate on dev? which k achieves this best error rate? \n", best_dev_error, best_k)

(1, 1.5199999999999991, 0, 23.5, 0)
(3, 11.819999999999997, 0, 18.200000000000006, 0)
(5, 14.559999999999995, 0, 16.900000000000006, 0)
(7, 15.480000000000004, 0, 15.500000000000004, 0)
(9, 16.32, 0, 16.700000000000003, 0)
(11, 16.779999999999994, 0, 17.000000000000004, 0)
(13, 16.779999999999994, 0, 16.1, 0)
(15, 17.14, 0, 16.200000000000003, 0)
(17, 17.32, 0, 16.400000000000002, 0)
(19, 17.34, 0, 16.600000000000005, 0)
(21, 17.459999999999997, 0, 15.900000000000002, 0)
(23, 17.600000000000005, 0, 16.500000000000004, 0)
(25, 17.300000000000004, 0, 16.400000000000002, 0)
(27, 17.600000000000005, 0, 15.300000000000002, 0)
(29, 17.259999999999998, 0, 15.700000000000003, 0)
(31, 17.659999999999997, 0, 16.000000000000004, 0)
(33, 17.679999999999996, 0, 16.400000000000002, 0)
(35, 17.459999999999997, 0, 16.300000000000004, 0)
(37, 17.64, 0, 16.400000000000002, 0)
(39, 17.959999999999997, 0, 16.1, 0)
(41, 17.820000000000004, 0, 15.800000000000002, 0)
(43, 18.000000000000004, 0, 16.200000000000003, 0)
(45, 17.720000000000002, 0, 16.000000000000004, 0)
(47, 17.94, 0, 16.200000000000003, 0)
(49, 17.900000000000006, 0, 16.500000000000004, 0)
(51, 17.92, 0, 16.1, 0)
(53, 17.84, 0, 16.000000000000004, 0)
(55, 17.84, 0, 16.000000000000004, 0)
(57, 17.800000000000004, 0, 15.900000000000002, 0)
(59, 17.779999999999994, 0, 15.800000000000002, 0)
(61, 17.64, 0, 16.000000000000004, 0)
(63, 18.04, 0, 16.200000000000003, 0)
(65, 17.979999999999997, 0, 16.500000000000004, 0)
(67, 18.000000000000004, 0, 16.1, 0)
(69, 17.92, 0, 16.300000000000004, 0)
(71, 18.220000000000002, 0, 16.400000000000002, 0)
(73, 18.300000000000004, 0, 16.1, 0)
(75, 18.100000000000005, 0, 16.200000000000003, 0)
(77, 18.120000000000005, 0, 16.200000000000003, 0)
(79, 18.000000000000004, 0, 16.400000000000002, 0)
(81, 18.100000000000005, 0, 16.400000000000002, 0)
(83, 18.120000000000005, 0, 16.200000000000003, 0)
(85, 18.259999999999998, 0, 16.300000000000004, 0)
(87, 18.100000000000005, 0, 16.400000000000002, 0)
(89, 18.259999999999998, 0, 16.000000000000004, 0)
(91, 18.120000000000005, 0, 15.900000000000002, 0)
(93, 18.240000000000002, 0, 16.1, 0)
(95, 18.400000000000006, 0, 16.000000000000004, 0)
(97, 18.159999999999997, 0, 15.700000000000003, 0)
(99, 18.44, 0, 16.000000000000004, 0)
('best error rate on dev? which k achieves this best error rate? \n', 15.300000000000002, 27)

In [95]:
from sklearn.compose import ColumnTransformer

In [96]:
# Q3-1
# Identify numerical and categorical colums
numerical_columns = ["age","hours-per-week"]
categoical_columns = [col for col in column_names if col not in numerical_columns and col != "target"]

In [97]:
# Instantiate  the preprocessing methods for numerical and categorical data
num_processor = "passthrough"
cat_processor = OneHotEncoder(sparse=False, handle_unknown="ignore")

In [98]:
#Create a ColumnTransformer
preprocessor = ColumnTransformer([
    ("num", num_processor, numerical_columns),
    ("cat",cat_processor,categoical_columns)
])

In [99]:
preprocessor.fit(train_data)
processed_train_data = preprocessor.transform(train_data)
processed_train_data

array([[50., 13.,  0., ...,  1.,  0.,  0.],
       [38., 40.,  0., ...,  1.,  0.,  0.],
       [53., 40.,  0., ...,  1.,  0.,  0.],
       ...,
       [61.,  5.,  0., ...,  1.,  0.,  0.],
       [42., 40.,  0., ...,  1.,  0.,  0.],
       [21., 40.,  0., ...,  1.,  0.,  0.]])

In [100]:
preprocessor.fit(dev_data)
processed_dev_data = preprocessor.transform(dev_data)
processed_dev_data

array([[45., 45.,  1., ...,  1.,  0.,  0.],
       [33., 20.,  0., ...,  0.,  0.,  0.],
       [19., 40.,  0., ...,  1.,  0.,  0.],
       ...,
       [20., 40.,  0., ...,  1.,  0.,  0.],
       [22., 35.,  0., ...,  1.,  0.,  0.],
       [58., 40.,  0., ...,  1.,  0.,  0.]])

In [101]:
# Fit the preprocessor to the training data and transform
X_re_train = preprocessor.fit_transform(train_data.drop("target",axis=1))
y_re_train = train_data["target"]

X_re_dev = preprocessor.transform(dev_data.drop("target", axis=1))
y_re_dev = dev_data["target"]

In [102]:
re_best_dev_error = 100.0
re_best_k = -1

In [103]:
for k in range(1,101,2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_re_train, y_re_train)
    
    train_preds = knn.predict(X_re_train)
    dev_preds = knn.predict(X_re_dev)
    
    train_err = 100 * (1- accuracy_score(y_re_train, train_preds))
    dev_err = 100 * (1 - accuracy_score(y_re_dev, dev_preds))
    
    if dev_err < re_best_dev_error:
        re_best_dev_error = dev_err
        re_best_k = k
        
    print(k, train_err, dev_err)
    
print(re_best_dev_error, re_best_k)

(1, 1.5000000000000013, 26.8)
(3, 12.819999999999999, 24.7)
(5, 16.000000000000004, 23.299999999999997)
(7, 16.859999999999996, 23.5)
(9, 17.979999999999997, 22.599999999999998)
(11, 18.54, 21.699999999999996)
(13, 18.979999999999997, 23.0)
(15, 19.259999999999998, 22.4)
(17, 19.920000000000005, 21.9)
(19, 19.620000000000005, 21.999999999999996)
(21, 20.099999999999994, 22.099999999999998)
(23, 20.399999999999995, 22.099999999999998)
(25, 20.58, 22.199999999999996)
(27, 20.499999999999996, 21.4)
(29, 20.620000000000005, 22.599999999999998)
(31, 20.66, 21.999999999999996)
(33, 21.020000000000007, 21.699999999999996)
(35, 21.060000000000002, 20.799999999999997)
(37, 21.060000000000002, 21.799999999999997)
(39, 21.919999999999995, 21.4)
(41, 21.860000000000003, 21.099999999999998)
(43, 21.78, 21.999999999999996)
(45, 21.819999999999993, 21.4)
(47, 22.140000000000004, 22.199999999999996)
(49, 22.419999999999995, 21.999999999999996)
(51, 22.26, 21.999999999999996)
(53, 22.340000000000003, 21.699999999999996)
(55, 22.7, 22.499999999999996)
(57, 22.7, 22.4)
(59, 22.7, 21.9)
(61, 22.799999999999997, 21.799999999999997)
(63, 22.560000000000002, 22.199999999999996)
(65, 22.640000000000004, 22.299999999999997)
(67, 22.919999999999995, 22.599999999999998)
(69, 22.76, 22.799999999999997)
(71, 23.080000000000002, 22.599999999999998)
(73, 23.240000000000006, 22.799999999999997)
(75, 23.099999999999998, 22.799999999999997)
(77, 23.2, 22.499999999999996)
(79, 23.28, 22.4)
(81, 23.380000000000003, 22.199999999999996)
(83, 23.319999999999997, 21.999999999999996)
(85, 23.380000000000003, 22.299999999999997)
(87, 23.460000000000004, 22.199999999999996)
(89, 23.319999999999997, 22.499999999999996)
(91, 23.340000000000003, 22.799999999999997)
(93, 23.4, 22.599999999999998)
(95, 23.4, 22.499999999999996)
(97, 23.26, 22.599999999999998)
(99, 23.28, 23.099999999999998)
(20.799999999999997, 35)

In [104]:
from sklearn.preprocessing import MinMaxScaler

In [105]:
#Q3-2
# Instantiate the processing methods for numerical and categorical data
num_processor = MinMaxScaler(feature_range=(0, 2))
cat_processor = OneHotEncoder(sparse=False, handle_unknown="ignore")

In [106]:
# Create a ColumnTransformer
preprocessor = ColumnTransformer([
    ("num", num_processor, numerical_columns),
    ("cat", cat_processor, categoical_columns)
])

In [107]:
preprocessor.fit(train_data)
processed_train_data = preprocessor.transform(train_data)
processed_train_data

array([[0.90410959, 0.24489796, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.57534247, 0.79591837, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.98630137, 0.79591837, 0.        , ..., 1.        , 0.        ,
        0.        ],
       ...,
       [1.20547945, 0.08163265, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.68493151, 0.79591837, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.10958904, 0.79591837, 0.        , ..., 1.        , 0.        ,
        0.        ]])

In [122]:
preprocessor.fit(dev_data)
processed_dev_data = preprocessor.transform(dev_data)
processed_dev_data

array([[0.76712329, 0.88659794, 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.43835616, 0.37113402, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.05479452, 0.78350515, 0.        , ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.08219178, 0.78350515, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.1369863 , 0.68041237, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [1.12328767, 0.78350515, 0.        , ..., 1.        , 0.        ,
        0.        ]])

In [123]:
#Create a ColumnTransformer
preprocessor = ColumnTransformer([
    ("num", num_processor, numerical_columns),
    ("cat",cat_processor,categoical_columns)
])

In [124]:
# Fit the preprocessor to the training data and transform
X_mm_train = preprocessor.fit_transform(train_data.drop("target",axis=1))
y_mm_train = train_data["target"]

X_mm_dev = preprocessor.transform(dev_data.drop("target", axis=1))
y_mm_dev = dev_data["target"]

mm_best_dev_error = 100.0
mm_best_k = -1

In [111]:
for k in ra0Classifier(n_neighbors=k)
    knn.fit(X_mm_train, y_mm_train)
    
    train_preds = knn.predict(X_mm_train)
    dev_preds = knn.predict(X_mm_dev)
    
    train_err = 100 * (1- accuracy_score(y_mm_train, train_preds))
    dev_err = 100 * (1 - accuracy_score(y_mm_dev, dev_preds))
    
    if dev_err < mm_best_dev_error:
        mm_best_dev_error = dev_err
        mm_best_k = k
        
    print(k, train_err, dev_err)
    
print(mm_best_dev_error, mm_best_k)

(1, 1.5000000000000013, 23.099999999999998)
(3, 11.48, 20.099999999999994)
(5, 13.900000000000002, 18.000000000000004)
(7, 14.280000000000005, 16.600000000000005)
(9, 15.680000000000005, 15.700000000000003)
(11, 16.359999999999996, 16.500000000000004)
(13, 16.54, 16.500000000000004)
(15, 16.500000000000004, 15.500000000000004)
(17, 16.82, 15.900000000000002)
(19, 16.74, 16.200000000000003)
(21, 16.979999999999997, 16.1)
(23, 17.179999999999996, 15.400000000000002)
(25, 16.959999999999997, 15.600000000000003)
(27, 17.000000000000004, 15.600000000000003)
(29, 17.100000000000005, 15.600000000000003)
(31, 16.900000000000006, 15.200000000000003)
(33, 17.159999999999997, 15.500000000000004)
(35, 17.200000000000003, 15.400000000000002)
(37, 17.259999999999998, 14.500000000000002)
(39, 17.44, 14.700000000000003)
(41, 17.520000000000003, 14.500000000000002)
(43, 17.379999999999995, 14.600000000000001)
(45, 17.900000000000006, 14.900000000000002)
(47, 17.820000000000004, 15.000000000000002)
(49, 18.04, 15.300000000000002)
(51, 18.000000000000004, 15.600000000000003)
(53, 18.000000000000004, 15.300000000000002)
(55, 17.959999999999997, 15.300000000000002)
(57, 18.000000000000004, 15.600000000000003)
(59, 17.979999999999997, 15.500000000000004)
(61, 17.979999999999997, 15.400000000000002)
(63, 18.04, 15.600000000000003)
(65, 17.84, 15.400000000000002)
(67, 17.84, 15.200000000000003)
(69, 17.820000000000004, 15.300000000000002)
(71, 17.979999999999997, 15.400000000000002)
(73, 17.84, 15.200000000000003)
(75, 17.86, 15.100000000000001)
(77, 17.820000000000004, 15.000000000000002)
(79, 17.879999999999995, 15.100000000000001)
(81, 17.820000000000004, 15.300000000000002)
(83, 17.800000000000004, 15.500000000000004)
(85, 17.879999999999995, 15.200000000000003)
(87, 17.879999999999995, 15.600000000000003)
(89, 17.820000000000004, 15.300000000000002)
(91, 17.959999999999997, 15.200000000000003)
(93, 17.92, 15.200000000000003)
(95, 17.779999999999994, 15.300000000000002)
(97, 17.820000000000004, 15.800000000000002)
(99, 17.779999999999994, 15.700000000000003)
(14.500000000000002, 37)

In [125]:
# Q4-1. Inplement own k-NN distance calculation
query_person = X_mm_dev[0]  #query person's feature vector
euclidean_distances = np.linalg.norm(X_mm_train - query_person, axis=1)

In [126]:
# Calculate the Manhattan distances
manhattan_distances = np.sum(np.abs(X_mm_train - query_person), axis=1)

In [127]:
# Get the indices of the top-k closest individuals
k = 3
top_k_indices_euclidean = np.argsort(euclidean_distances)[:k]
top_k_indices_manhattan = np.argsort(manhattan_distances)[:k]

In [128]:
# Verify the top-k neighbors and their distances using scikit-learn's KNeighborsClassifier
kNN = KNeighborsClassifier(n_neighbors=k, metric='manhattan')
kNN.fit(X_mm_train, y_mm_train)
sklearn_indices, sklearn_distances = kNN.kneighbors([query_person])

In [130]:
# results
print("Top-k neighbors and their distances (mine - Euclidean):")
print("Neighbor, Index, Euclidean Distance")
for i in range(k):
    print(i+1,top_k_indices_euclidean[i], euclidean_distances[top_k_indices_euclidean[i]] )
                                                                                                          
print("\nTop-k neighbors and their distances (mine - Manhattan):")
print("Neighbor,Index,Manhattan Distance ")
for i in range(k):
    print(i+1,top_k_indices_manhattan[i], manhattan_distances[top_k_indices_manhattan[i]])
    
print("\nTop-k neighbors and their distances (scikit-learn):")
print("Neighbor,Index,Distance ")
for i in range(k):
    print(i+1, sklearn_indices[0][i], sklearn_distances[0][i])

Top-k neighbors and their distances (mine - Euclidean):
Neighbor, Index, Euclidean Distance
(1, 4872, 0.3344192869821078)
(2, 4787, 1.4152746869361013)
(3, 2591, 1.4167469717499104)

Top-k neighbors and their distances (mine - Manhattan):
Neighbor,Index,Manhattan Distance
(1, 4872, 0.38999161308358965)
(2, 4787, 2.054794520547945)
(3, 4142, 2.1020408163265305)

Top-k neighbors and their distances (scikit-learn):
Neighbor,Index,Distance
(1, 0.38999161308358965, 4872)
(2, 2.054794520547945, 4787)
(3, 2.1020408163265305, 4142)

In [131]:
#Part5
predic_data = pd.read_csv("income.test.predicted", header=None)
predic_data.columns = column_names

In [132]:
X_predic = preprocessor.fit_transform(predic_data.drop("target",axis=1))
y_predic = predic_data["target"]

X_mm_dev = preprocessor.transform(dev_data.drop("target", axis=1))
y_mm_dev = dev_data["target"]

mm_best_dev_error = 100.0
mm_best_k = -1

In [138]:
for k in range(1,101,2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_predic, y_predic)
    
    predic_preds = knn.predict(X_predic)
    dev_preds = knn.predict(X_mm_dev)
    
    predic_err = 100 * (1- accuracy_score(y_predic, predic_preds))
    dev_err = 100 * (1 - accuracy_score(y_mm_dev, dev_preds))
    #predic_pos_rate = 100 * (sum(predic_preds == ">50K") / len(predic_preds))
    predic_pos_rate = 100 * (sum(y_predic== ">50K" )/len(y_predic))
    dev_pos_rate = 100 * (sum(dev_preds == ">50K") / len(dev_preds))
    

    # Calculate the positive ratio on the test set
    test_positive_ratio = 100 * (sum(predic_preds == ">50K") / len(predic_preds))

   
    if dev_err < mm_best_dev_error:
        mm_best_dev_error = dev_err
        mm_best_k = k
        
    print(k, predic_err, predic_pos_rate, dev_err, dev_pos_rate)
    
print(mm_best_dev_error, mm_best_k)
print("Positive ratio on test set:", test_positive_ratio)

(1, 0.0, 0, 15.600000000000003, 0)
(3, 3.0000000000000027, 0, 16.1, 0)
(5, 3.7000000000000033, 0, 16.500000000000004, 0)
(7, 4.200000000000004, 0, 16.700000000000003, 0)
(9, 4.700000000000005, 0, 16.200000000000003, 0)
(11, 4.600000000000004, 0, 16.200000000000003, 0)
(13, 5.200000000000005, 0, 17.200000000000003, 0)
(15, 5.300000000000004, 0, 17.300000000000004, 0)
(17, 6.000000000000005, 0, 17.000000000000004, 0)
(19, 5.400000000000005, 0, 16.900000000000006, 0)
(21, 5.200000000000005, 0, 16.700000000000003, 0)
(23, 5.100000000000005, 0, 16.700000000000003, 0)
(25, 5.100000000000005, 0, 16.300000000000004, 0)
(27, 5.500000000000005, 0, 16.1, 0)
(29, 5.400000000000005, 0, 16.200000000000003, 0)
(31, 5.000000000000004, 0, 16.200000000000003, 0)
(33, 5.100000000000005, 0, 15.900000000000002, 0)
(35, 4.900000000000004, 0, 15.700000000000003, 0)
(37, 5.200000000000005, 0, 15.800000000000002, 0)
(39, 5.100000000000005, 0, 15.600000000000003, 0)
(41, 5.300000000000004, 0, 15.500000000000004, 0)
(43, 5.400000000000005, 0, 16.000000000000004, 0)
(45, 5.300000000000004, 0, 16.000000000000004, 0)
(47, 5.200000000000005, 0, 16.200000000000003, 0)
(49, 5.300000000000004, 0, 16.000000000000004, 0)
(51, 5.700000000000005, 0, 16.000000000000004, 0)
(53, 5.500000000000005, 0, 15.800000000000002, 0)
(55, 5.600000000000005, 0, 15.900000000000002, 0)
(57, 5.500000000000005, 0, 15.600000000000003, 0)
(59, 5.400000000000005, 0, 15.700000000000003, 0)
(61, 5.500000000000005, 0, 15.700000000000003, 0)
(63, 5.500000000000005, 0, 15.800000000000002, 0)
(65, 5.600000000000005, 0, 15.700000000000003, 0)
(67, 5.500000000000005, 0, 15.600000000000003, 0)
(69, 5.700000000000005, 0, 15.400000000000002, 0)
(71, 5.700000000000005, 0, 15.500000000000004, 0)
(73, 5.800000000000005, 0, 15.200000000000003, 0)
(75, 5.800000000000005, 0, 15.400000000000002, 0)
(77, 6.000000000000005, 0, 15.500000000000004, 0)
(79, 6.000000000000005, 0, 15.500000000000004, 0)
(81, 6.100000000000005, 0, 15.200000000000003, 0)
(83, 5.700000000000005, 0, 15.500000000000004, 0)
(85, 6.000000000000005, 0, 15.300000000000002, 0)
(87, 6.000000000000005, 0, 15.400000000000002, 0)
(89, 6.699999999999995, 0, 15.500000000000004, 0)
(91, 6.599999999999994, 0, 15.400000000000002, 0)
(93, 6.699999999999995, 0, 15.700000000000003, 0)
(95, 6.699999999999995, 0, 15.700000000000003, 0)
(97, 6.599999999999994, 0, 15.700000000000003, 0)
(99, 6.699999999999995, 0, 15.700000000000003, 0)
(15.200000000000003, 73)
('Positive ratio on test set:', 0)